@import "../../styles/_variables.scss";

button {
    border: 0px;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }

    &.block {
        height: 40px;
        width: 200px;
    }

    &.primary {
        background-color: $primary;
        color: $white;
    }
    
    &.primary-reverse {
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;
    }
}
